<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".activitypages.ReportsPage"
            android:exported="false" />
        <activity
            android:name=".activitypages.User_Profile"
            android:exported="false" />
        <activity
            android:name=".constants.AppGlobal"
            android:exported="false" />
        <activity
            android:name=".constants.AppConstants"
            android:exported="false" />
        <activity
            android:name=".adapters.TimeSlotAdapter"
            android:exported="false" />
        <activity
            android:name=".bottomSheets.TimeSlotBottomSheet"
            android:exported="false" />
        <activity
            android:name=".bottomSheets.SheetActionPojo"
            android:exported="false" />
        <activity
            android:name=".bottomSheets.BottomSheetListener"
            android:exported="false" />
        <activity
            android:name=".activitypages.BookAppointment"
            android:exported="false" />
        <activity
            android:name=".helpers.HelperClass"
            android:exported="false" />
        <activity
            android:name=".fragments.New_Meeting"
            android:exported="false" />
        <activity
            android:name=".fragments.Reports"
            android:exported="false" />
        <activity
            android:name=".fragments.UserProfile"
            android:exported="false" />
        <activity
            android:name=".activitypages.Signup"
            android:exported="false" />
        <activity
            android:name=".activitypages.Dashboard"
            android:exported="false" />
        <activity
            android:name=".activitypages.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>